@use "../utils/variables";

.nav {
    display: flex;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 50px;
    :first-child {
        margin-left: 0;
    }
}

.nav__link {
    font-family: 'Quicksand', sans-serif;
    color: variables.$light-text;
    font-weight: 400;

    &--bold {
        font-weight: 700;
    }
}