@use "../utils/variables";

.nav {
    display: flex;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 50px;
    :first-child {
        margin-left: 0;
    }
}

.nav__link {
    font-family: 'Quicksand', sans-serif;
    color: variables.$light-text;
    font-weight: 400;

    &--bold {
        font-weight: 700;
    }
}

.functions__link {
    padding: 12px 50px;
    color: variables.$light-text;

    border: 1px solid variables.$light-text;
    border-radius: 24px;
}

.nav__nav-additional {
    margin-left: 70px;
}

.nav-additional__heading { 
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.25;
}

.nav-additional__item {
    margin-top: 24px;
}

.nav-additional__link {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25;
    color: variables.$light-text;

}